<div id="wide_left_content" class="sect">
  <h2>参加<%=link_to @title, training_path(@training)%>的人</h2>
  <%= user_icon(@joined_users)%>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/team_view_training_users'%>
</div>
<div class="clearBoth"></div>
