<table>
  <tr>
    <th>名称</th>
    <th>所在地</th>
    <th>提交人</th>
  </tr>

<% for football_ground in @football_grounds %>
  <tr>
    <td><%=h football_ground.name %></td>
    <td><%=h football_ground.city_text %></td>
    <td><%= link_to h(football_ground.user.nickname), user_view_path(football_ground.user.id) %></td>
    <td><%= link_to 'Edit', edit_football_ground_path(football_ground) %></td>
  </tr>
<% end %>
</table>
