<div id="wide_left_content" class="sect">
  <h2><%= smart_nickname @user%>的朋友</h2>
  <%= user_icon(@friendsList)%>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/user_view_friend'%>
</div>
<div class="cb"></div>



