<div id="wide_left_content" class="sect">
  <h2><%=@title%></h2>
  <%= user_icon(@users)%>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/team_view_sided_match_users'%>
</div>
<div class="cb"></div>
