<ul class="sidebar_menu">
  <li>
  > <%= link_to '成员管理', admin_management_team_joins_path(:team_id => @team) %>
  </li>
  <li>
  > <%= link_to '选拔队员', player_management_team_joins_path(:team_id => @team) %>
  </li>
  <li>
  > <%= link_to '安排阵型', formation_management_team_joins_path(:team_id => @team) %>
  </li>
</ul>
