<div class="seperateLine clearBoth"></div>
<h2>管理员</h2>
<%= render(:partial => 'shared/user_icon', :collection => @admin)%>

<div class="seperateLine clearBoth"></div>
<h2>队员</h2>
<%= render(:partial => 'shared/user_icon', :collection => @players)%>
  
<div class="seperateLine clearBoth"></div>
<h2>其他成员</h2>
<%= render(:partial => 'shared/user_icon', :collection => @others)%>
<div class="clearBoth"></div>