<div id="wide_left_content" class="sect">
  <h2><%=h(@title)%></h2>
  <%= user_icon(@players)%>
  <div class="cb"></div>
  <%= will_paginate @players %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to '返回随便踢踢的页面', play_path(@play) %>
    </li>
  </ul>
</div>
<div class="cb"></div>
