<div id="wide_left_content" class="sect">
  <h2><%=h(@title)%></h2>
  <%= user_icon(@players)%>
  <div class="cb"></div>
  <%= will_paginate @players %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <%=render :partial=>'sidebar_menus/user_view_players'%>
</div>
<div class="cb"></div>
