div.activities {
    padding: 10px 0 0 20px;
    line-height: normal;
}

div.activities div.date {
    width:78px;
    height:78px;
    text-align: center;
    border:solid 1px #3D681A;
    float: left;
}

div.activities div.date div.day {
    height:56%;
    padding-top:14%;
    color:White;
    background-color:#3D681A;
    font-family:Segoe UI;
    font-size:24px;
    font-weight:bold;
}

div.activities div.date div.day a{
    color:White;
}

div.activities div.date div.week {
    height:22%;
    padding-top:7%;
    font-size:12px;
    background-color:#F2F7AB;
    color:#333333;
}

div.activities div.match_content,
div.activities div.training_content {
    margin-left: 20px;
    float: left;
    width: 275px;
}

div.activities div.training_icon,
div.activities div.match_icon{
    float: left;
}

div.activities div.training_icon{
    width: 54px;
}

div.activities div.match_icon{
    width: 140px;
}

div.activities div.training_icon img.icon,
div.activities div.match_icon img.icon{
    margin: 0;
}

div.activities div.match_icon img.icon{
    display: inline;
}


div.activities div.activity_list {
    float:left;
}

div.activities div.activity_list div.clearBoth{
    padding-top: 10px;
    margin: 0 0 15px 10px;
    border-bottom: dashed 1px #3D681A;
}