div.activities {
    padding: 0px;
    line-height: normal;
}

div.activities div.date {
    width:78px;
    height:78px;
    text-align: center;
    border:solid 1px #3D681A;
    float: left;
    margin-top:8px;
    margin-right:10px;
}

div.activities div.date div.day {
    height:56%;
    padding-top:14%;
    color:White;
    background-color:#3D681A;
    font-family:Segoe UI,"Times New Roman",Times,serif;
    font-size:24px;
    font-weight:bold;
}

div.activities div.date div.day a{
    color:White;
    background: transparent;
}

div.activities div.date div.week {
    height:22%;
    padding-top:7%;
    font-size:12px;
    background-color:#F2F7AB;
    color:#333333;
}

div.activities div.activity_list {
    float:left;
}

div.activities div.activity{
  width: 428px;
  height: 107px;
  padding: 20px 0 0 25px;
  position:relative;
  float: left;
  margin-bottom: 6px;
}

div.activities div.activity div.content {
  width: 310px;
}

div.activities div.training_activity,
div.activities div.play_activity{
  background:transparent url(/images/training_block_bg.gif) no-repeat;
}

div.activities div.training_activity div.activity_icon,
div.activities div.play_activity div.activity_icon {
  position:absolute;
  right:28px;
  top:28px;
}

div.activities div.match_activity {
  background:transparent url(/images/match_block_bg.gif) no-repeat;
}

div.activities div.match_activity div.activity_icon {
  position:absolute;
  left:346px;
  top:21px;
  width: 100px;
  height:100px;
}

div.activities div.match_activity div.activity_icon img.host_icon {
  position:absolute;
  top:0px;
  left:0px;
}

div.activities div.match_activity div.activity_icon img.guest_icon {
  position:absolute;
  top:41px;
  left:33px;
}

div.activities div.match_activity div.activity_icon div.vs {
  background:transparent url(/images/vs.gif) no-repeat;
  width:29px;
  height:21px;
  left:26px;
  position:absolute;
  top:34px;
  z-index: 5;
}

div.activities div.match_activity_wide {
  height: 142px;
  background:transparent url(/images/match_block_bg_wide.gif) no-repeat;
}

div.activities div.match_activity_wide div.activity_icon img.host_icon {
  top:1px;
}

div.activities div.match_activity_wide div.activity_icon img.guest_icon {
  top:41px;
  left:34px;
}

div.activities div.match_activity_wide div.activity_icon div.vs {
  background:transparent url(/images/vs_wide.gif) no-repeat;
  left:27px;
  width:28px;
  height:22px;
}

div.activities div.detail{
    float:left;
    margin: 8px 0 0 10px;
    line-height:150%;
    position: relative;
    width: 420px;
}

div.activities div.detail span{
  color: #666666;
}

div.sided_match_result {
  position: absolute;
  right: 20px;
  font-size: 48px;
  line-height: 60px;
  color: #7E3E0B;
  font-family: Georgia,"Times New Roman",Times,serif;
}