h2 {
  margin:2px 0;
}

ul.sidebar_menu {
  margin-bottom:5px;
}

ul.sidebar_menu li {
  float:left;
  margin-bottom:0;
}

ul.sidebar_menu li.seperate {
  border:none;
  width:auto;
  padding-top:5px;
}

ul.sidebar_menu li,ul.sidebar_menu li a {
  font-size:12px;
}

div.icon {
  width:69px;
  height:70px;
  margin:3px;
  padding:6px 4px 2px;
}

div.icon,img.icon {
  cursor:pointer;
}

#field_div {
  width:372px;
  height:520px;
  background:#fff url(/images/middle_field.jpg) no-repeat;
  position:relative;
}

#field_div div.icon {
  display:none;
  position:absolute;
  background:#FCFDFE;
  border:solid 2px #3D681A;
  padding:10px 2px 2px;
}

#field_div div.icon div.del {
  background:url(/images/close.gif) no-repeat;
  width:12px;
  height:12px;
  position:absolute;
  right:0;
  top:0;
  cursor:pointer;
}

#field_div .pos_elem {
  width:40px;
  height:40px;
  border:1px solod #eef;
  position:absolute;
  background:transparent;
  padding:2px;
}

#field_div .over_accept_elem {
  background:#F2F7AB;
}

div.selected_player,#field_div .accept_elem {
  background:#eef;
}