#content {
    margin: 20px 25px;
}

div.rule {
  line-height: 150%;
}

div.rule span{
  color: #666;
}

div.rule td{
  padding-right: 20px;
}

div.host_team_div { 
    float: left;
    width: 465px;
}

div.guest_team_div {
    float: right;
    width: 465px;
    text-align: right;
}

div.host_team_div img.title_icon,
div.host_team_div div.info{
    float: left;
    margin-right: 20px;
}

div.guest_team_div div.info,
div.guest_team_div img.title_icon{
    float: right;
    margin-left: 20px; 
}

#match_blackboard {
  float: left;
  width: 440px;
  text-align: center;
  font-size: 48px;
  line-height: 60px;
  color: #7E3E0B;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#match_blackboard img{
  padding: 2px;
  border:solid 1px #3D681A;
}

table.player_list {
  width:175px;
}

table.player_list td img.icon{
  width:22px;
  height:22px;
}

div.host_team_div .player_list{
  margin:0 5px 0 0;
  float:left;
}

div.host_team_div .small_field {
  margin:25px 0 0 0;
  float:left;
}

div.guest_team_div .player_list {
  float:right;
}

div.guest_team_div .small_field {
  margin:25px 5px 0 0;
  float:right;
}

div.guest_team_div table {
    text-align: left;
}