body {
  background-color:#fff;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  margin-top:5px;
  margin-left:5px;
  line-height:1.5em;
}

h1 {
  font-size:18px;
  color:#333;
  font-family:Verdana;
  font-weight:400;
  margin:0;
}

h2 {
  font-size:14px;
  font-weight:400;
  margin:0;
}

form {
  border:0;
  margin:0;
  padding:0;
}

textarea {
  overflow:auto;
}

a {
  color:#066;
  text-decoration:none;
}

a:hover {
  color:#FFF;
  text-decoration:none;
  background:#066;
}

a img {
  border-width:0;
}

table th {
  text-align:left;
}

form.button-to {
  display:inline;
  margin:0 10px 0 0;
}

#qmd {
  height:25px;
  width:992px;
  margin:0 auto;
  padding:0;
}

#qmd .left {
  background:url(/images/qmd_left.gif) no-repeat;
  width:139px;
  height:25px;
  float:right;
}

#qmd .center {
  color:#333;
  background:url(/images/qmd_middle2.gif) repeat-x;
  float:right;
  padding-top:7px;
  height:25px;
}

#qmd .right {
  background:url(/images/qmd_right.gif) no-repeat;
  width:19px;
  height:25px;
  float:right;
}

#main_content {
  width:990px;
  padding-bottom:15px;
  border:solid 1px #3D681A;
  margin:0 auto;
}

* html #main_content {
  margin-top:-7px;
}

#header {
  width:100%;
  height:131px;
  background:url(/images/head.gif) no-repeat;
  position:relative;
  line-height:normal;
  z-index:20;
}

#header #site_link {
  position:absolute;
  top:0;
  right:0;
  height:70px;
  width:280px;
  background:transparent;
}

#header.match_header {
  background:url(/images/match_head.gif) no-repeat;
}

#header .dropdown_container {
  position:relative;
}

#header .dropdown_container div.dropdown {
  border:1px solid #3D681A;
  background:#fff;
  display:none;
  position:absolute;
  list-style-type:none;
  margin:0;
  padding:3px;
}

#header_icon {
  position:absolute;
  left:48px;
  top:10px;
}

#host_header_icon {
  position:absolute;
  left:30px;
  top:24px;
}

#guest_header_icon {
  position:absolute;
  left:122px;
  top:24px;
}

#header_name {
  color:#fff;
  font-size:22px;
  font-weight:700;
  position:absolute;
  left:160px;
  top:26px;
}

#header_name a {
  color:#fff;
  font-size:20px;
  font-weight:700;
}

#header_setting {
  color:#fff;
  float:left;
  position:relative;
  top:100px;
  width:180px;
  text-align:center;
}

#header_setting .unread {
  font-weight: 700;
}

#header_setting img.my_down {
  margin-bottom:2px;
}

#header_setting a {
  color:#fff;
}

#header_setting .dropdown_container div.dropdown a {
  display:block;
  background:#fff;
  color:#066;
  padding:5px 0;
}

#header_menu {
  position:absolute;
  top:74px;
  left:220px;
  width:507px;
  text-align:center;
}

#header_menu div.l1_menu {
  font-size:14px;
  background:repeat-y;
  height:20px;
  padding-top:2px;
  margin:0 0 1px;
}

#header_menu div.l1_menu a {
  margin:0 15px;
}

#header_menu div.l2_menu_list {
  text-align:center;
  height:20px;
  background:repeat-y;
  margin:0 5px;
  padding:2px 0 0;
}

#header_menu div.l2_menu_list ul {
  display:none;
  float:left;
  position:relative;
  margin:2px 10px 0;
  padding:0;
}

#header_menu div.l2_menu_list ul li {
  font-size:12px;
  display:inline;
  list-style-type:none;
  margin:0 10px;
}

#header_menu div.l2_menu_list ul li .unread {
  font-weight: 700;
}

#header_search {
  position:absolute;
  top:85px;
  left:781px;
  margin:0;
  padding:0;
}

#header_search table {
  vertical-align:middle;
  margin:0;
  padding:0;
}

#header_search input {
  border:none;
  background:#fff;
  font-size:12px;
  margin:-2px 0 0;
  padding:0;
}

#header_search input.blurinput {
  color:#ccc;
}

#header_search input.submit {
  margin-left:5px;
  width:32px;
  height:30px;
  cursor:pointer;
  background:transparent;
}

#header_search .dropdown_container div.dropdown div {
  padding:1px 2px;
}

#header_search .dropdown_container div.dropdown img {
  margin:0;
  padding:0;
}

#content {
  margin:20px 15px 20px 25px;
  overflow:hidden;
}

#welcome {
  color:#666;
  margin:0 0 25px 5px;
}

#welcome div,#welcome img {
  float:left;
  font-size:20px;
  margin:0;
  padding:0;
}

#welcome div.title {
  padding-top:13px;
}

#welcome div.exp {
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  width:900px;
  font-size:14px;
  line-height:150%;
  margin:10px 0 25px;
  padding:15px 10px;
}

div.flash {
  border:solid 1px #3D681A;
  background:#F2F7AB;
  width:500px;
  margin:10px 0 15px;
  padding:6px 10px;
}

#left_content {
  width:310px;
  float:left;
  overflow:hidden;
}

#right_content {
  width:580px;
  float:right;
  overflow:hidden;
}

#wide_left_content {
  width:580px;
  float:left;
  overflow:hidden;
}

#narrow_right_content {
  width:330px;
  float:right;
  overflow:hidden;
}

div.sect {
  overflow:hidden;
}

div.sect h2 {
  margin:0 0 5px -5px;
  padding:5px;
}

div.sect h2 a.atom {
  float:right;
}

div.cb {
  clear:both;
}

.control {
  float:right;
  margin-right:20px;
}

div.icon {
  background:#fff;
  width:72px;
  height:110px;
  text-align:center;
  float:left;
  overflow:hidden;
  margin:3px 10px;
}

img.icon {
  background:#fff;
  border:solid 1px #3D681A;
  display:block;
  margin:0 auto;
  padding:2px;
}

table.list {
  width:100%;
  margin-bottom:10px;
}

table.list tr.highlight {
  font-weight:700;
}

table.list th,table.list td {
  border-bottom:dashed 1px #3D681A;
  vertical-align:top;
  padding:5px;
}

table.list td p {
  text-indent:2em;
  margin:5px;
  padding:0;
}

table.form td {
  vertical-align:top;
  padding-bottom:8px;
}

div.notification {
  background:#F2F7AB;
  margin:10px 0 15px;
  padding:6px 10px;
  overflow:hidden;
}

div.tab_container {
  margin-top:10px;
  margin-bottom:10px;
}

div.tab_container div.tab h2 {
  height:auto;
  background:transparent;
  margin:0;
}

.tab {
  border:solid 1px #3D681A;
  background-color:#FCFDFE;
  padding:20px 10px 20px 20px;
  overflow:hidden;
}

form.tab {
  margin:0;
  padding:10px 20px;
}

.tab_link {
  margin-right:5px;
  border:solid 1px #3D681A;
  border-bottom:none;
  background-color:#ACBE33;
  font-size:12px;
  color:#000;
  cursor:pointer;
  padding:5px 10px 2px;
  position: relative;
}

*+html .tab_link{
  padding:5px 10px 1px;
}

a.tab_link {
  color:#000;
}

.tab_link:hover {
  background-color:#FCFDFE;
}

.tabSelected {
  border-bottom:1px solid #FCFDFE;
  background-color:#FCFDFE;
}

a.more {
  clear:both;
  float:right;
  margin-right:25px;
}

.post_more {
  clear: both;
  float: right;
  margin-top: 10px;
}

div.tab_container span.shortcut {
  float:right;
  margin-right:5px;
  height:17px;
}

div.tab_container span.shortcut img {
  margin-left:2px;
}

div.small_field {
  position:relative;
  background:url(/images/team_small_field.jpg) no-repeat;
  width:260px;
  height:363px;
}

div.positions_small_field {
  float:left;
  position:relative;
  background:url(/images/small_field.jpg) no-repeat;
  width:160px;
  height:222px;
}

div.broadcast {
  clear: both;
}

div.broadcast img.l_icon{
  margin: 7px 14px 0 0;
  float: left;
}

div.broadcast div.content{
  min-height: 55px;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

div.broadcast span.qut, div.broadcast span.dtal {
  display:block;
}

div.broadcast span.dtal {
  padding: 5px 24px;
  color: #666;
}

div.broadcast img.r_icon {
  float:right;
  margin-left: 14px;
}

div.post {
  margin-bottom:15px;
  padding:10px;
}

div.post img {
  float:left;
  margin:0 15px 10px 0;
}

div.post .title {
  background-color:#FCFDFE;
  width:80%;
  overflow:hidden;
  display: -moz-inline-box;/*firefox hack*/
  display:inline-block;
  padding:2px 10px;
}

div.post .title .name {
  margin-left:50px;
}

div.post div.content {
  margin-top:10px;
  width:80%;
  overflow:hidden;
  float:left;
}

ul.sidebar_menu {
  margin:10px 0;
  padding:0;
}

ul.sidebar_menu li {
  list-style-type:none;
  margin-bottom:15px;
  padding:5px;
}

ul.sidebar_menu li.seperate {
  border-top:dashed 1px #3D681A;
  height:15px;
  width:70%;
  margin:0;
  padding:0;
}

ul.sidebar_menu li,ul.sidebar_menu li a {
  font-size:14.8px;
  padding-left:5px;
}

ul.sidebar_menu li.selected a {
  color:#000;
  cursor:default;
  background:transparent;
}

div.icon_select div.icon {
  margin-right:0;
}

div.icon_select div.input {
  padding-top:40px;
  float:left;
}

div.ui-dialog {
  background:#fff;
  border:solid 2px #3D681A;
  padding:12px 10px 15px;
}

div.ui-dialog div.ui-dialog-titlebar {
  text-align:right;
  position:relative;
}

div.ui-dialog div.ui-dialog-titlebar .ui-dialog-titlebar-close {
  font-weight:700;
  color:#3D681A;
  position:absolute;
  right:0;
}

div.ui-dialog form {
  margin:0;
  padding:0;
}

a.resize_small_icon img {
  width:22px;
  height:22px;
  position:absolute;
}

table.match_invitation_list {
  width:100%;
}

table.match_invitation_list th,table.match_invitation_list td {
  border:none;
  vertical-align:top;
}

table.form td.conflict {
  padding:3px;
}

div.errorExplanation ul {
  list-style-type:none;
  list-style-image:none;
  border:1px solid red;
  background:#ffc5be;
  color:#c00;
  width:60%;
  margin:5px 0 0;
  padding:3px 7px;
}

div.fieldWithErrors input,div.fieldWithErrors textarea,div.fieldWithErrors select {
  background:#ffc5be;
}

div.message {
  padding-top:20px;
}

div.message div.icon {
  margin-right:20px;
  float:left;
  width:60px;
}

div.message div.content {
  float:left;
  width:400px;
  overflow:hidden;
}

div.message div.content p {
  padding-bottom:20px;
}

div.message div.title {
  font-size:14px;
  border-bottom:dashed 1px #3D681A;
  padding-bottom:15px;
  overflow:hidden;
}

div.result_block {
  border:1px solid #333;
  padding:0 10px;
}

div.result_block span.another_result {
  font-weight:700;
  color:#333;
}

div.pagination {
  background: #F2F7AB;
  color: #666;
  padding: 1px 0;
  margin: 15px 0px 5px 0px;
  text-align: center;
  font: 14.8px normal Arial, Helvetica, sans-serif;
  line-height: 150%;
}

div.pagination a, .current, .gap{ padding: 2px 4px; }
div.pagination .prev_page { margin-right: 20px; }
div.pagination .next_page { margin-left: 20px; }

div.help h1 {
  font-weight:700;
  margin:5px 0 25px -5px;
}

div.help h2 {
  color:#3D681A;
  margin:0;
  padding:0 5px;
}

div.help a.ques {
  line-height:200%;
}

#footer {
  width:990px;
  padding-top:10px;
  margin:0 auto;
}

#footer span.links {
  float:right;
}

div.activities {
  line-height:normal;
  padding:0;
}

div.activities div.date {
  width:78px;
  height:78px;
  text-align:center;
  border:solid 1px #3D681A;
  float:left;
  margin-top:8px;
  margin-right:10px;
}

div.activities div.date div.day {
  height:56%;
  padding-top:14%;
  color:#FFF;
  background-color:#3D681A;
  font-family:Segoe UI,"Times New Roman",Times,serif;
  font-size:24px;
  font-weight:700;
}

div.activities div.date div.day a {
  color:#FFF;
  background:transparent;
}

div.activities div.date div.week {
  height:22%;
  padding-top:7%;
  font-size:12px;
  background-color:#F2F7AB;
  color:#333;
}

div.activities div.activity {
  width:428px;
  height:107px;
  position:relative;
  float:left;
  margin-bottom:6px;
  padding:20px 0 0 25px;
  overflow:hidden;
}

div.activities div.activity div.content {
  width:310px;
  overflow:hidden;
}

div.activities div.training_activity,div.activities div.play_activity {
  background:transparent url(/images/training_block_bg.gif) no-repeat;
}

div.activities div.training_activity div.activity_icon,div.activities div.play_activity div.activity_icon {
  position:absolute;
  right:28px;
  top:28px;
}

div.activities div.match_activity {
  background:transparent url(/images/match_block_bg.gif) no-repeat;
}

div.activities div.match_activity div.activity_icon {
  position:absolute;
  left:346px;
  top:21px;
  width:100px;
  height:100px;
}

div.activities div.match_activity div.activity_icon img.host_icon {
  position:absolute;
  top:0;
  left:0;
}

div.activities div.match_activity div.activity_icon img.guest_icon {
  position:absolute;
  top:41px;
  left:33px;
}

div.activities div.match_activity div.activity_icon div.vs {
  background:transparent url(/images/vs.gif) no-repeat;
  width:29px;
  height:21px;
  left:26px;
  position:absolute;
  top:34px;
  z-index:5;
}

div.activities div.match_activity_wide {
  height:142px;
  background:transparent url(/images/match_block_bg_wide.gif) no-repeat;
}

div.activities div.match_activity_wide div.activity_icon img.host_icon {
  top:1px;
}

div.activities div.match_activity_wide div.activity_icon img.guest_icon {
  top:41px;
  left:34px;
}

div.activities div.match_activity_wide div.activity_icon div.vs {
  background:transparent url(/images/vs_wide.gif) no-repeat;
  left:27px;
  width:28px;
  height:22px;
}

div.activities div.detail {
  float:left;
  line-height:150%;
  position:relative;
  width:420px;
  margin:8px 0 0 10px;
  overflow:hidden;
}

div.sided_match_result {
  position:absolute;
  right:20px;
  font-size:48px;
  line-height:60px;
  color:#7E3E0B;
  font-family:Georgia,"Times New Roman",Times,serif;
}

div.calendar {
  line-height:normal;
}

div.calendar div.normalDateDiv,div.calendar div.monthAndYearDiv {
  display:inline;
  overflow:hidden;
}

.normalDateDiv {
  width:105px;
  height:100px;
  margin-left:5px;
  margin-bottom:5px;
  border:solid 1px #3D681A;
  background-color:#FCFDFE;
  float:left;
}

.bigDateDiv {
  width:217px;
}

.hasActivityDiv {
  background-color:#F2F7AB;
}

.hasManyActivitiesDiv {
  background-color:#ACBE33;
}

.monthAndYearDiv {
  border:solid 1px #FFF;
  padding-left:6px;
  font-family:Verdana;
  font-size:17px;
  background-color:#FFF;
}

.monthAndYearDiv a.icalendar{
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  display: block;
  margin:8px 0 0 38px;
  float:left;
}

.bigMonthDaySpan {
  margin-left:3px;
  color:#111;
  font-family:Arial Narrow;
  font-size:22px;
  font-weight:lighter;
}

.bigWeekDaySpan {
  font-family:Verdana;
  color:#333;
  font-size:11px;
}

.normalDateDiv .dateContent {
  width:100%;
  height:70px;
  position:relative;
  padding:5px 5px 0;
}

.normalDateDiv .dateContent .activityContent {
  vertical-align:middle;
}

.normalDateDiv .dateContent .more {
  margin-right:10px;
  position:absolute;
  bottom:5px;
  right:5px;
  float:none;
}

.monthCalendar {
  width:580px;
}

.monthCalendar .monthAndYear {
  font-family:Segoe UI;
  font-size:24px;
  font-weight:700;
  text-align:center;
  margin:10px;
}

.monthCalendar .monthAndYear img {
  margin:-4px 20px;
}

.weekDayDiv {
  width:31px;
  height:40px;
  text-align:center;
  float:left;
  margin:25px;
  overflow:hidden;
}

.weekDaySpan {
  font-family:Verdana;
  font-size:14px;
  font-weight:700;
  color:#3D681A;
}

.monthDayDiv {
  width:75px;
  height:75px;
  border:solid 1px #FCFDFE;
  text-align:center;
  float:left;
  margin:2px;
  overflow:hidden;
}

.currentDayDiv {
  background-color:#F2F7AB;
  border:solid 1px #3D681A;
}

.monthDayTopDiv {
  width:100%;
  height:35%;
}

.monthDayBottomDiv {
  width:100%;
  height:65%;
  text-align:left;
  overflow:hidden;
  padding:2px 5px;
}

.monthDayBottomDiv a.more {
  margin-left:2px;
  margin-right:0;
  font-size:9px;
  float:none;
}

.monthDaySpan {
  font-family:Verdana;
  font-size:16px;
  color:#333;
}

.monthDaySpan a:hover {
  background-color:#3D681A;
  color:#fff;
  font-weight:700;
}

.monthDayArragementSpan {
  font-family:Calibri;
  font-size:12px;
}

form.button-to div,div.fieldWithErrors,div.fieldWithErrorsWhenFocus,.monthCalendar .weekDayDiv,.monthCalendar .monthDayDiv,.monthCalendar .currentDayDiv {
  display:inline;
}

#qmd a,.monthAndYearDiv a,.bigMonthDaySpan a {
  color:#000;
  background:transparent;
}

#header a,.monthCalendar .monthAndYear a {
  background:transparent;
}

#header_setting .dropdown_container div.dropdown a:hover,#header_search .dropdown_container div.dropdown div.hover,#header_search .dropdown_container div.dropdown div:hover,table.match_invitation_list td.conflict {
  background:#F2F7AB;
}

#header_menu a,#header_search .dropdown_container div.dropdown a,.monthDaySpan a {
  color:#333;
}

#header_menu a:hover,#footer span.links a {
  text-decoration:underline;
}

#header_menu div.l2_menu_list a,form span.optional,div.activities div.detail span {
  color:#666;
}

div.sect,div.help {
  padding-left:5px;
  margin-bottom:30px;
}

span.private,.todayDateDiv .todaySpan {
  color:#666;
  font-size:9px;
}

div.post p,div.help p {
  text-indent:2em;
}

div.icon_select,#footer span.arrd,div.activities div.activity_list {
  float:left;
}

.otherMonthDaySpan,.otherMonthDaySpan a,.otherMonthDayArragementSpan {
  color:#999;
}
