<div class="sect" id="wide_left_content">
  <h2>目前WeFootball还没有开放注册</h2>

  <div class="notification">
    你需要一个WeFootball邀请来注册帐号。<br /><br />
    如果需要WeFootball邀请，你可以<%= link_to '到站务论坛去留个Email', site_posts_path %>，我们会稍后将邀请发出。<br /><br />
    在成为WeFootball用户后，你也可以向朋友们发送邀请。
  </div>
</div>


