<ul class="sidebar_menu">
  <li <%= selected_class_sidebar_menu_item(:action=>'about', :controller=>'application')%>>
    > <%= link_to "关于我们", site_about_path %>
  </li>  
  <li <%= selected_class_sidebar_menu_item(:action=>'faq', :controller=>'application')%>>
    > <%= link_to "常见问题", site_faq_path %>
  </li>  
</ul>