<table class="list">
  <tr>
    <th>话题</th>
    <th style="width:50px">作者</th>
    <th style="width:30px">回复</th>
    <th style="width:120px; text-align:right">最后回复</th>
  </tr>

<% for post in post_list %>
  <tr>
    <td><%=link_to h(post.title), post  %></td>
    <td><%=h post.user.nickname %></td>
    <td><%= post.replies.size %></td>
    <td><%= post.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
  </tr>
<% end %>
</table>