<table>
  <tr>
    <th>话题</th>
    <th>作者</th>
    <th>回复</th>
    <th>最后回复</th>
  </tr>

<% for post in post_list %>
  <tr>
    <td><%=link_to h(post.title), post  %></td>
    <td><%=h post.user.nickname %></td>
    <td><%= post.replies.size %></td>
    <td><%= post.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
  </tr>
<% end %>
</table>