<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%= offical_team_icon(@offical_teams)%>
  <div class="cb"></div>
  <%= will_paginate @offical_teams %>
</div>

<div class="cb"></div>