<div id="wide_left_content" class="sect">
  <h2><%=h @title%></h2>
  <%= offical_team_icon(@offical_teams, true)%>
  <div class="cb"></div>
  <%= will_paginate @offical_teams %>
</div>

<div id="narrow_right_content" class="sect">
  <h2></h2>
  <ul class="sidebar_menu">
    <li>
      > <%= link_to '新建球队', new_offical_team_path %>
    </li>
  </ul>
</div>
<div class="cb"></div>