<% cache do %>
<div id="wide_left_content" class="help">
  <h1>常见问题</h1>
  <div class="sect">
    <%= question_links%>
  </div>
  <div class="sect">
    <%= answer_links%>
  </div>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2></h2>
    <%=render :partial=>'help_sidebar_menu'%>
  </div>
</div>
<div class="cb"></div>
<%end%>