<% cache do %>
<div id="wide_left_content" class="help">
  <h1>个人隐私信息</h1>
  <div class="sect">
    <p>第一条	所谓个人隐私信息，是指用户注册时填写的email地址、密码信息。</p>
    <p>第二条	用户的个人隐私信息不会在本网站的任何页面公开，也不向任何外部实体和个人透露。但第三条和第十条所叙述的情况除外。</p>
    <p>第三条	当您通过本网站邀请朋友时，您的个人隐私信息中的email地址将在本网站发出的邀请中出现，使你的朋友能够辨别邀请的来源。</p>
    <p>第四条	非因本网站故意或重大过失造成的用户个人隐私信息泄露，本网站不承担责任。</p>
  </div>
  <h1>公开信息</h1>
  <div class="sect">
    <p>第五条	所谓公开信息，是指用户注册后所发布的活动、球评、讨论等信息。</p>
    <p>第六条	公开信息会在本网站各个相应版面公开，如果该公开信息符合中国法律中关于作品的要求，则由此产生的著作权归作者所有。</p>
    <p>第七条	本网站不保证任何公开信息的真实性。</p>
    <p>第八条	用户的公开信息代表用户个人的观点，不代表本网站的立场。</p>
    <p>第九条	公开信息应当符合宪法、法律、法规、规章的规定。</p>
    <p>第十条	对于违反上一条的用户，本网站会将该公开信息予以屏蔽或删除。</p>
  </div>
  <h1>其他</h1>
  <div class="sect">
    <p>第十条 当政府执法部门或监管机构要求本网站提供您在本网站的个人隐私信息、发布的公开信息及其他一切本网站掌握的信息时，本网站将会配合政府执法部门或监管机构的工作。</p>
    <p>第十一条 以上条款可能会随时做出一些小的调整，但有关您个人信息安全的部分不会改变。</p>
    <p>第十二条 如果您注册为本网站用户，视为同意以上全部条款。</p>
  </div>
</div>

<div id="narrow_right_content">
  <div class="sect">
    <h2></h2>
    <%=render :partial=>'help_sidebar_menu'%>
  </div>
</div>
<div class="cb"></div>
<%end%>