<p>
  标题 <%= f.text_field :title, :size=>30, :maxlength=>100 %>
</p>
<p>
  <%= f.check_box :is_private %> <%= @post.private_text%>
</p>
<p>
  <%= f.text_area :content, :cols=>50, :rows=>20 %>
</p>