<table class="list" style="width:100%">
  <tr>
    <th style="width:15px">&nbsp;</th>
    <th>话题</th>
    <th>来自</th>
  </tr>

<% for post in narrow_many_teams_post_list %>
  <tr>
    <td><%=post_icon_link post%></td>
    <td><%=link_to h(post.title), post_path(post)  %><%="<span class='private'>&nbsp;&nbsp;-&nbsp;&nbsp;(#{post.private_text})</span>" if post.is_private%></td>
    <td>
      <%=case post
        when WatchPost
          link_to '看球活动', post.activity
        else
          link_to h(post.team.shortname), team_view_path(post.team)
      end%>
    </td>
  </tr>
<% end %>
</table>
