<table class="list" style="width:100%">
  <tr>
    <th style="width:15px">&nbsp;</th>
    <th style="width:48px">作者</th>
    <th style="width:222px">话题</th>
  </tr>

<% for post in narrow_post_list %>
  <tr>
    <td><%=post_icon_link post%></td>
    <td><%=h post.user.nickname %></td>
    <td><%=link_to h(post.title), post_path(post)  %><%="<span class='private'>&nbsp;&nbsp;-&nbsp;&nbsp;(仅队内可见)</span>" if post.is_private%></td>
  </tr>
<% end %>
</table>
