<h1><%=h @title%></h1>

<div id="wide_left_content">
<div class="seperateLine"></div>
<%=render :partial=>'shared/post_list', :object=>@posts%>
</div>

<div id="narrow_right_content">
<div class="seperateLine"></div>

<% if @team %>
  <%= link_to '发言', new_team_post_path(@team) %>
<% elsif @training %>
  <%= link_to '发言', new_training_post_path(@training) %>
<%end%>
</div>
<div class="clearBoth"></div>