<div>
  <h1>好友添加邀请</h1>
</div>

<%= error_messages_for :friend_invitation %>

<% form_for :friend_invitation, :url => friend_invitation_path, :method=>"POST" do |f| %>

    <%= f.hidden_field :host_id,  :value=>@host_id%>
  
  <p>
    <b>留言</b><br />
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit "邀请" %>
  </p>
<% end %>
