<div>
  <h1>申请加入球队</h1>
</div>

<%= error_messages_for :team_join_request %>

<% form_for :team_join_request, :url => team_join_requests_path, :method=>"POST" do |f| %>
    <%= f.hidden_field :team_id,  :value=>@team_id%> 

  <p>
    <b>留言</b><br />
    <%= f.text_area :message %>
  </p>  

  <p>
    <%= f.submit "申请" %>
  </p>
<% end %>
